.Contain {
  display: flex;
  margin: 0;
  padding: 0;
  grid-column: 1/-1;
  grid-row: 2/3;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: skyblue;
  align-content: center;
  flex-direction: column;
}

.Contain a {
  text-decoration: none;
}

.Contain h1 {
  margin: 0;
  padding: 0;
  color: black;
}

.contentBlock {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  background-color: skyblue;
  align-content: center;
  grid-column: 1/-1;
  grid-row: 2/3;
  flex-direction: column;
}

.contentBlock h1 {
  margin: 0;
  padding: 0;
}

.contentBlock form {
  display: flex;
  flex-direction: column;
}
